<div class="container">
    <form action="/tasks/<%= @task.id %>" method="post">
        <input class="form-control" type="text" name="title" placeholder="タイトル" value="<%= CGI.escapeHTML(@task.title) %>"><br>
        <input class="form-control" type="text" name="due_date" placeholder="締め切り" value="<%= @task.due_date %>"><br>
        リスト:
        <select class="form-select" name="list">
            <% List.all.each do |list| %>
                <option value="<%= list.id %>"
                    <% if list.id == @task.list.id %>
                        selected
                    <% end %>>
                    <%= list.name %>
                </option>
            <% end %>
        </select>
        <input class="form-control" type="submit" value="登録">
    </form>
</div>
