<link rel="stylesheet" href="/styles/index.css" type="text/css">
    

<div class="body">
    <div class="filter-container">
        <form method="get" action="/">
            <select name="term" class="filter">
                <% gradeList.each_with_index do |grade, index| %>
                    <option value="<%= index %>"><%= grade %></option>
                <% end %>
            </select>

            <select class="filter">
                <% termList.each_with_index do |term,index| %>
                    <option value="<%= index%>"><%= term %></option>
                <% end %>
            </select>
            <button type="submit" class="button">フィルタ</button>
        </form>
    </div>

    <% @posts.each do |post| %>
        <a href="/id/<%= post.images.ids[0] %>"><div class="posts"><%= gradeList[post.grade.to_i] %> <%= termList[post.term.to_i] %> <%= post.subject_name %></div></a>
    <% end %>

    <div class="button-container">
        <button id="upload_widget" class="button upload-button">過去問を追加する</button>
    </div>
    
    <div class="modal" id="modal">
        <div class="modal-container">
            <div class="modal-content">
                <form method="post" action="/post" enctype="multipart/form-data">
                    <input type="file" name=upload_photo multiple required>
                     <select class="selector" name="grade">
                        <% gradeList.each_with_index do |grade,index| %>
                            <option value="<%= index %>"><%= grade %></option>
                        <% end %>
                    </select>
                    <select class="selector" name="term">
                        <% termList.each_with_index do |term,index| %>
                            <option value="<%= index %>"><%= term %></option>
                        <% end %>
                    </select>
                    <select class="selector" name="subject_name">
                        <option>数学</option>
                        <option>物理</option>
                        <option>化学</option>
                        <option>社会</option>
                    </select>
                    <button type="submit" class="button">投稿</button>
                </form>
            </div>
        </div>
    </div>
                
    <script>
        document.getElementById("upload_widget").addEventListener("click", function() {
            document.getElementById('modal').style.display = 'block';
        });
    
        document.getElementById('closeModal').addEventListener("click", function() {
            document.getElementById('modal').style.display = 'none';
        });
    </script>
</div>
